<mat-dialog-content class="d-grid">
  <p>Modifica il record selezionato</p>
  <mat-form-field>
    <mat-label>Data</mat-label>
    <input matInput [(ngModel)]="data.date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tipologia</mat-label>
    <input matInput [(ngModel)]="data.type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Asset</mat-label>
    <input matInput [(ngModel)]="data.symbol">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantità</mat-label>
    <input matInput [(ngModel)]="data.quantity">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Prezzo</mat-label>
    <input matInput [(ngModel)]="data.price">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Valuta</mat-label>
    <input matInput [(ngModel)]="data.currency">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annulla</button>
  <button mat-button [mat-dialog-close]="[data.date, data.type, data.symbol, data.quantity, data.price, data.currency]" cdkFocusInitial>Okay</button>
</mat-dialog-actions>