<form class="d-flex flex-column justify-content-center m-auto gap-4">
  <h1 class="h3 mb-1 fw-bold">Create an account</h1>
  <p class="w-100">Enter your email to sign up for this app</p>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
  </div>

  <button class="btn w-100" type="submit">Sign up with email</button>
  <p class="delimited-text">or continue with</p>
  <button class="g-btn w-100">
    <span><img src="/assets/icons/ic-google.svg" alt="" /></span>
    <span>Google</span>
  </button>
  <p class="mt-3 mb-0 text-body-secondary">
    By clicking continue, you agree to our
    <a href="/">Terms of Service</a>
    and
    <a href="/">Privacy Policy</a>
  </p>
</form>
