<div
  class="d-flex flex-column-reverse gap-3 flex-md-row align-items-center justify-content-center"
>
  <div class="col-10 col-sm-7 col-md-6 col-xl-5">
    <img class="w-100" src="/assets/img/create-portfolio-bg.svg" alt="" />
  </div>
  <div class="col-12 col-md-5 text-center text-md-start">
    <h1 class="mb-4">BENVENUTO SU PortfolioPal</h1>
    <div>
      <p>
        Pronto per cominciare? Carica il tuo storico delle transazioni e inizia
        subito a tracciare il tuo portfolio
      </p>
      <button
        class="btn d-flex gap-2 align-items-center mx-auto mx-md-0"
        (click)="uploadData()"
      >
        <span class="fw-bold">Carica file</span>
        <span><img src="/assets/icons/mdi_import.svg" alt="" /></span>
      </button>
    </div>
  </div>
</div>
