<div class="card-container">
  <img class="container-bg-img" src="/assets/img/image 2.png" alt="" />
  <div>
    <p>
      Affronta la sfida e dimostra la tua abilità nel gestire il portafoglio: la
      vetta della classifica ti attende!
    </p>
    <!-- classifica -->
    <div class="ranking-container">
      <h2>Classifica</h2>

      <table class="ranking-table">
        <tr>
          <th>Posizione</th>
          <th>Nome Utente</th>
          <th>Punteggio</th>
        </tr>
        <tr>
          <td><div class="circle">1</div></td>
          <td>Mario</td>
          <td>100</td>
        </tr>
        <tr>
          <td><div class="circle">2</div></td>
          <td>Luigi</td>
          <td>90</td>
        </tr>
        <tr>
          <td><div class="circle">3</div></td>
          <td>Giovanni</td>
          <td>85</td>
        </tr>
        <tr>
          <td><div class="circle">4</div></td>
          <td>Anna</td>
          <td>80</td>
        </tr>
      </table>
    </div>
    <a type="button">JOIN NOW</a>
  </div>
</div>
