.rounded-20 {
  stroke: #d9d9d9;
  border-radius: 20px;
  overflow: hidden;
}

.vh-75 {
  height: 75vh;
}

.rounded-27 {
  border-radius: 27%;
}

.ratio-2x1 {
  aspect-ratio: 2/1 !important;
}

.mh-50 {
  max-height: 50vh;
}

.p-cursor {
  cursor: pointer;
}

.tableRow:hover {
  background-color: whitesmoke;
}
.container-duration > div:hover {
  cursor: pointer;
}

.selectors {
  background-color: lightgray;
  color: black;
}

.selectors > .active {
  background-color: black;
  color: white;
  pointer-events: none;
}

.asset-table .mat-mdc-row {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

/* history css */
/* dashboard.component.css */
.history-container {
  display: flex;
  justify-content: space-between;
}

.portfolio-chart {
  flex: 1;
  margin-right: 20px;
}

.transaction-history {
  flex: 1;
}

.clickable {
  cursor: pointer;
}
.rounded-20 {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .nonMobile {
    display: none;
  } /* hide it on small screens */
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  } /* hide it on small screens */
}
