<div class="card-container">
  <div class="card-header" [class.active]="isActive">
    <div class="card-body">
      <p>FAQ {{ index }}</p>
      <h1>{{ question }}</h1>
    </div>
    <button
      type="button"
      class="btn"
      (click)="toggleAndRotate()"
      [attr.aria-expanded]="!isCollapsed"
    >
      <img
        src="/assets/icons/arrow-down.svg"
        alt="arrow-down"
        [class.rotated]="rotated"
      />
    </button>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    @if (answer !== undefined) {
    <div class="card">
      <p class="card-body">
        {{ answer }}
      </p>
    </div>
    }
  </div>
</div>
