* {
  box-sizing: border-box;
  margin: 0;
}

.card-container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-container > div {
  border: 1px solid #d9d9d9;
  background-color: white;
  border-radius: 8px;
}

.card-header {
  display: flex;
  align-items: end;
  gap: 16px;
  padding: 24px;
}

.card-header > .card-body {
  flex-grow: 1;
}

.card-header p {
  margin-bottom: 16px;
}

img {
  transition: transform 0.3s ease-out;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease-out;
}
