* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
}

.nav-link.active {
  font-weight: bold;
}

.dropdown-menu {
  width: 250px;
  border-radius: 16px;
}

.dropdown-item:not(.logout):active {
  color: inherit;
  background-color: inherit;
}

.dropdown-item:not(.logout):hover {
  background-color: inherit;
}

.dropdown-item.logout:hover {
  background-color: red;
}

.option {
  margin-left: auto;
}

.logout {
  background-color: #d23131;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 16px;
}
