.rounded-20 {
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  overflow: hidden;
}

.rounded-27 {
  border-radius: 27%;
}

.container-duration > div:hover {
  cursor: pointer;
}

.selectors {
  background-color: lightgray;
  color: black;
}

.selectors > .active {
  background-color: black;
  color: white;
  pointer-events: none;
}
