<div class="pb-5">
  <div [class]="colView ? 'col-12' : 'col-11 mx-auto'">
    <app-card-portfolio-valutation
      [data]="data"
    ></app-card-portfolio-valutation>
  </div>
  <div class="mt-5 mb-5 mx-auto" [class]="colView ? 'col-12' : 'col-11'">
    <div>
      <canvas id="lineChart"></canvas>
    </div>
    <div class="mt-3 d-flex justify-content-center">
      <div class="p-2 selectors rounded-20">
        <div class="py-3" id="selectorsDiv">
          <div
            (click)="updateData('1S')"
            class="d-inline p-3 text-center selectorSelected rounded-27"
            id="1S"
          >
            1S
          </div>
          @for (item of duration; track $index) {
          <div
            (click)="updateData(item)"
            class="d-inline p-3 text-center rounded-27"
            [id]="item"
          >
            {{ item }}
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div
    class="mx-auto gap-3"
    [class]="
      colView
        ? 'col-12 d-flex flex-column align-items-center'
        : 'col-11 row justify-content-between'
    "
  >
    <div
      class="card p-3 gap-3 rounded-20 mb-4 mb-md-0"
      [class]="colView ? 'col-12' : 'flex-grow-1 col-md-6'"
    >
      <h2 class="mb-0 fw-bold">Asset Allocation</h2>
      <table mat-table [dataSource]="dataSource" class="asset-table">
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>Simbolo</th>
          <td mat-cell *matCellDef="let row">{{ row.symbol }}</td>
        </ng-container>

        <ng-container matColumnDef="portfolioPercentage">
          <th mat-header-cell *matHeaderCellDef>Perc. in Portfolio</th>
          <td mat-cell *matCellDef="let row">{{ row.percPortfolio }}%</td>
        </ng-container>

        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef>Andamento</th>
          <td mat-cell *matCellDef="let row">{{ row.percentage }}%</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          [routerLink]="'/asset/' + row.symbol"
          class="tableRow"
          [class]="assetRowDisabled ? 'disabled' : ''"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="3">No data matching the filter</td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25]"
        showFirstLastButtons
        aria-label="Select page of transactions"
      ></mat-paginator>
    </div>

    <div
      class="card rounded-20 col-md-4"
      [class]="colView ? 'col-12 col-md-12 border-0' : ''"
    >
      <canvas id="doughnutChart"></canvas>
    </div>
  </div>

  <app-history
    [transactions]="transactions"
    [hidden]="hideHistory"
  ></app-history>
</div>
