.rounded-20 {
  stroke: #d9d9d9;
  border-radius: 20px;
  overflow: hidden;
}

.rounded-27 {
  border-radius: 27%;
}

.tableRow:hover {
  background-color: whitesmoke;
}
.container-duration > div:hover {
  cursor: pointer;
}

.selectors {
  background-color: lightgray;
  color: black;
}

.selectorSelected {
  background-color: black;
  color: white;
  pointer-events: none;
}

.asset-table .mat-mdc-row {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}
