.rounded-20{
    border-radius: 20px;
    overflow: hidden;
  }

  .tableRow:hover{
    background-color: lightgray;
  }
  .container-duration > div:hover{
    cursor: pointer;
}

.selectors{
    background-color: lightgray;
    color: black;
}

.selectorSelected{
    background-color: black;
    color: white;
    pointer-events:none;
}

@media only screen and (max-width: 768px) {
  .assetAllocation {
    display: grid !important;
    grid-template-columns: 1fr; /* Una colonna su dispositivi mobili */
    grid-gap: 20px; /* Spazio tra la tabella e il donut chart */
  }
}