<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand me-3">Fixed navbar</div>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Ranking</a>
        </li>
      </ul>
      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul
          class="dropdown-menu mx-0 mt-2 shadow w-220px dropdown-menu-end"
          data-bs-theme="light"
        >
          <li>
            <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#files"></use>
              </svg>
              Documents
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#image-fill"></use>
              </svg>
              Photos
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#film"></use>
              </svg>
              Movies
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#music-note-beamed"></use>
              </svg>
              Music
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#joystick"></use>
              </svg>
              Games
            </a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#joystick"></use>
              </svg>
              Sign out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
