/* dashboard.component.css */
.history-container {
    display: flex;
    justify-content: space-between;
  }
  
  .portfolio-chart {
    flex: 1;
    margin-right: 20px;
  }
  
  .transaction-history {
    flex: 1;
  }

  .clickable {
    cursor: pointer;
  }
  .rounded-20{
    border-radius: 20px;
    overflow: hidden;
  }

  .tableRow:hover{
    background-color: lightgray;
  }
  