<mat-dialog-content class="d-grid">
  <p>Modifica il record selezionato</p>
  <mat-form-field hidden>
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="transactions.id" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Data</mat-label>
    <input type="date" matInput [(ngModel)]="transactions.date" />
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="transactions.type">
      @for (option of tipologiaOptions; track $index) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Asset</mat-label>
    <input
      type="text"
      placeholder="Inizia a digitare..."
      matInput
      [(ngModel)]="transactions.symbol"
      (ngModelChange)="onInputChange($event)"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track $index) {
      <mat-option [value]="option">
        {{ option }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantità</mat-label>
    <input type="number" matInput [(ngModel)]="transactions.quantity" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Prezzo</mat-label>
    <input type="number" matInput [(ngModel)]="transactions.price" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Valuta</mat-label>
    <input matInput [(ngModel)]="transactions.currency" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annulla</button>
  @if (mobile) {
  <button mat-button [mat-dialog-close]="[transactions.id]">
    Elimina record
  </button>
  }
  <button
    mat-button
    [mat-dialog-close]="[
      transactions.id,
      transactions.date,
      transactions.type,
      transactions.symbol,
      transactions.quantity,
      transactions.price,
      transactions.currency
    ]"
    cdkFocusInitial
  >
    Okay
  </button>
</mat-dialog-actions>
